<main>
  <div class="pizzas slider">
    <div class="slides"></div>
  </div>

  <div class="details">
    <h2></h2>
    <button class="add-to-cart"></button>
    <p>
      <strong>Catégorie:</strong>
      <span></span>
    </p>
    <p>
      <strong>Ingrédients:</strong>
      <span></span>
    </p>
    <p>
      <strong>Prix:</strong>
      <span></span> €
    </p>
  </div>

  <div class="cart">
    <h1>Votre panier</h1>
    <p>Votre panier est vide...</p>
    <p class="total">
      <strong>TOTAL: </strong>
      <span>0</span> €
    </p>
  </div>
</main>